.header{

    background-color: aquamarine;
    display : flex;
    justify-content: center;

}
.images{

    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;

}

.name , .k{

    text-align: center;

}

.b{

    background-color: burlywood;
    text-align: center;
    width: 400px;
    
}

